# Go
GIN_MODE=debug

# Database
POSTGRES_USER=clirzy
POSTGRES_PASSWORD=111111
POSTGRES_DB=clirzy
POSTGRES_HOST=clirzy-postgres
POSTGRES_PORT=5432
POSTGRES_URL=postgres://clirzy:111111@clirzy-postgres:5432/clirzy?sslmode=disable
MIGRATIONS_PATH=/srv/migrations

# Cache
REDIS_HOST=clirzy-redis
REDIS_PORT=6379

JWT_SECRET=secret

# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
# listeners
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
# basics
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
# useful defaults
KAFKA_AUTO_CREATE_TOPICS_ENABLE="true"
